# ============================================================
# .env - Konfigurasi Environment
# JANGAN commit file ini ke repository (Git)!
# ============================================================

# Database Supabase PostgreSQL
DB_HOST=db.ngjoxrqabmxymxuugibi.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=@panongan123

# App
APP_URL=http://localhost:8000
APP_ENV=development
